*{
    margin: 0px;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

.menu-bar {
    list-style-type: none; 
    margin: 0px; 
    padding: 0%;
    background-color: #333;
    overflow: hidden; 
}

.menu-bar li {
    float: left; 
}

.menu-bar li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none; 
}

.menu-bar li a:hover {
    background-color: #111; /* Change background on hover */
}

#fontimg{
    padding:0px;
    margin: 0px;
    width:100%;
    height: 500px;
}

#indexvideo iframe{
    border-radius: 6px;
    border-color:solid 5px #111;
    float: left;
    margin-top: 40px;
    width: 500px;
    margin-left: 5px;
}

#indexpara{
    margin-top: 40px;
    margin-left: 535px;
    padding-bottom: 2px;
    font-size: large;
}

#collection p{
    padding: 10px;
}

#menpic{
    width: 500px;
    height: 500px;
    margin-left: 80px;
}

#womenpic{
    width: 500px;
    height: 500px;
    margin-left: 80px;
}

#icons {
    text-decoration: none;
    text-align: center;
    padding: 15px;
}

.icon{
    font-size: 40px; 
    color:rgb(38, 35, 35);
}

.ficon{
    font-size: 40px; 
            color: rgb(38, 35, 35);
}

#questions{
    text-align: center;
}

.q1{
    background-color: black;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 7px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#l1{
    font-size: large;
}

.q2{
    background-color: black;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.q3{
    background-color: black;
    color: white;
    display: inline-block;
    cursor: pointer;
    padding: 7px;
    margin-bottom: 50px;
    margin-top: 10px;
}
#footer{
    background-color: #111;
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

#footer p{
    color:white;
    text-align: center;
    padding: 10px;
}

  #watts {
    position: fixed;
    right: 20px; /* Distance from the right side of the page */
    bottom: 20px; /* Distance from the bottom of the page */
    z-index: 1000; /* Ensures the icon stays on top of other content */
  }
  
  .icon i {
    font-size: 32px; /* Adjust the size of the icon */
    color: #333; /* WhatsApp green color */
  }
  
  .icon:hover i {
    color: #111; /* Darker green on hover */
  }

  #women-text {
    display: flex; /* Use flexbox to arrange elements horizontally */
    gap: 20px; /* Add space between the paragraphs */
}
#women-text p {
    font-size: larger;
    padding: 20px;
    margin-left: 250px; /* Remove default paragraph margins */
    cursor: pointer; /* Add a pointer cursor for interactivity */
}

#men-text {
    display: flex; /* Use flexbox to arrange elements horizontally */
    gap: 80px; /* Add space between the paragraphs */
}
#men-text p {
    font-size: larger;
    padding: 20px;
    margin-left: 250px; /* Remove default paragraph margins */
    cursor: pointer; /* Add a pointer cursor for interactivity */
}

/* LOGIN CSS*/

b {
    margin-left: 43%;
    padding: 15px;
    font-size: 25px;
    margin-top: 20px; 
    display: block; 
 }

 #emailorname, #passwordL {
     display: block;
     margin-left: 30%;
     padding: 2px;
     width: 450px;
     height: 40px;
     box-sizing: border-box;
 }

 #emailorname{
     margin-top: 10px;
 }

 #passwordL {
     margin-top: 40px;
 }

 #buttonL {
     background-color: black;
     color: white;
     margin-left: 45%;
     font-size: large;
     border-radius: 4px;
     padding: 5px 5px;
     cursor: pointer;
     margin-top: 40px;
     width: 80px;
 }

 #header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
     background-color: black;
     border: solid 50px black;
 }

 #logo {
     font-size:60px;
     font-weight: bold;
     color: whitesmoke;
     margin-left: 35%;
     cursor: pointer;
 }

 #logo:hover{
    color: goldenrod;
 }

 #Licons {
     font-size: 24px;
 }

 #Licons i {
     margin: 0 15px;
     cursor: pointer;
     color: whitesmoke;
 }

 #registrationchoice{
    margin-left:40%;
    padding: 10px;
    color: black;
  }
  
  #registrationchoice a{
      color: black;
      text-decoration: underline;
  }
  
  
  #registrationchoice a:hover{
      color: goldenrod;
  }


 /* MEN CSS */

 #fontimg{
    padding:0px;
    margin: 0px;
    width:100%;
    height: 350px;
    
}

#login{
    background-color: #333;
    margin: 0%;
    height: 50px;
}

#login ul li{
    list-style-type: none;
}

#login li a{
    color: white;
    margin-left: 80%;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding:14px 20px;
}

#login a:hover{
    background-color: #111;
    display: inline-block;
}

.ss{
    background-color: #333;
}

#licons i{
    color:black;
}

#licons{
    width: 100%;
    height: 20px;
    background-color: black;
}

.men-hidden {
   list-style-type: none;
   text-transform: capitalize;
   display: none;
   background-color: #333;
   width: 30px;
   height: 50px;
   z-index: 1000;
  }
  
  .men-hidden li {
    display: block;

  }
  
  .men-hidden li a {
    text-decoration: none;
  }

  .men-hidden li a:hover{
    background-color: #111;
    text-decoration: underline;
  }

  .men-hidden.show-menu {
    display: block;
    cursor: pointer;
  }

  .women-hidden {
    list-style-type: none;
    text-transform: capitalize;
    display: none;
    background-color: #333;
    width: 30px;
    height: 50px;
    z-index: 1000;
   }
   
   .women-hidden li {
     display: block;
 
   }
   
   .women-hidden li a {
     text-decoration: none;
   }
 
   .women-hidden li a:hover{
     background-color: #111;
     text-decoration: underline;
   }
 
   .women-hidden.show-menu {
     display: inline-block;
     cursor: pointer;
   }


/*Registration css*/
#registrationform{
    text-align: center;
     margin-top: 40px;
     border: 10px solid goldenrod;
     display: inline-block;
     margin-left: 450px;
     border-radius: 15px;
 }
 
  #registrationform h2{
     padding: 10px;
     color: azure;
  }
 
  #registrationform button{
     padding: 10px;
     margin-top: 20px;
     margin-bottom: 4px;
     color: azure;
     cursor: pointer;
     border: 2px solid #333;
     border-radius: 10px;
  }
 
  #registrationform input{
     margin-top: 10px;
     width: 150px;
     height: 10px;
     margin-left: 5px;
     color: azure;
     padding: 20px;
     margin-right: 10px;
     background-color: black;
  }
 
  #registrationform label{
     color: azure;
     margin-left: 10px;
  }
 
 #rh1{
     color: azure;
     margin-top: 70px;
     text-align: center;
  }
 

